<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gtstudio" translate="label" sortOrder="90">
            <label>Gtstudio</label>
        </tab>
        <section id="notifications" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Notifications</label>
            <tab>gtstudio</tab>
            <resource>Gtstudio_Notifications::config_gtstudio_notifications</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General</label>
                <field id="enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom_css" type="textarea" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Custom Css</label>
                </field>
                <field id="time_out" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Message Time Out</label>
                </field>
            </group>
        </section>
    </system>
</config>
